[Unit]
Description=Change wallpaper daily
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=False
OnCalendar=*-*-* 19:15:00
Unit=life-png.service

[Install]
WantedBy=graphical.target
